node_modules/
dist/
coverage/

# Local Helm/Kubernetes artifacts
charts/dealbot/values.local.override.yaml
charts/dealbot-web/values.local.override.yaml
.kube

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.zed
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
