sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    searchNamespace: monitoring

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: prometheus
        type: prometheus
        url: http://prometheus-server.monitoring.svc.cluster.local
        access: proxy
        isDefault: true

persistence:
  enabled: false
