apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml

configMapGenerator:
  - name: dealbot-grafana-dashboard
    files:
      - grafana-dashboard.json=grafana-dashboard.json
    options:
      labels:
        grafana_dashboard: "1"

generatorOptions:
  disableNameSuffixHash: true
