apiVersion: v1
kind: Service
metadata:
  name: dealbot-postgres
  labels:
    app.kubernetes.io/name: dealbot-postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app.kubernetes.io/name: dealbot-postgres
